body{
    background-color: #f2f8fb;
    // color: #ff7a58;
}
.header{
    font-size: 15px;
    text-align: center;
   
    // width: 50%;
    // left: 50%;
    // transform: translateX(50%);
    
}